<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OPMS Automation Suite" verbose="1" preserve-order="true">

    <test name="Login Tests" preserve-order="true">
        <classes>
            <class name="com.opms.tests.LoginTest"/>
        </classes>
    </test>

    <test name="Contract Config Tests" preserve-order="true">
        <classes>
            <class name="com.opms.tests.ContractConfigTest"/>
        </classes>
    </test>

    <test name="Lookup Tests" preserve-order="true">
        <classes>
            <class name="com.opms.tests.LookupTest"/>
        </classes>
    </test>

    <test name="Treatments Setup Tests" preserve-order="true">
        <classes>
            <class name="com.opms.tests.TreatmentsSetupTest"/>
        </classes>
    </test>

    <test name="Login and Create Patient" preserve-order="true">
        <classes>
            <class name="com.opms.tests.LoginAndCreatePatient"/>
        </classes>
    </test>

    <test name="Patient Creation and Insurance" preserve-order="true">
        <classes>
            <class name="com.opms.tests.PatientCreationAndAddPatientInsurance"/>
        </classes>
    </test>

    <test name="Insurance Scenarios" preserve-order="true">
        <classes>
            <class name="com.opms.tests.InsuranceScenariosTest"/>
        </classes>
    </test>

    <test name="Create Patient Tests" preserve-order="true">
        <classes>
            <class name="com.opms.tests.CreatePatientTest"/>
        </classes>
    </test>

    <test name="Treatment Ledger Tests" preserve-order="true">
        <classes>
            <class name="com.opms.tests.TreatmentLedgerTest"/>
        </classes>
    </test>

    <test name="Payment Ledger Tests" preserve-order="true">
        <classes>
            <class name="com.opms.tests.PaymentLedgerTest"/>
        </classes>
    </test>

</suite>
